body{
    background-image: url("BackgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    display: block;
    width: auto;
    color: white;
}

.special{
    background-color: #352319;
}


button{
    font-size: larger;
    border: none;
    background-color: #10121F;
    background-color: #22304B;
    color: #CDDAE0;
    border-radius: 30px;
}

.parent-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-container{
    background-image: linear-gradient(to bottom, #161E31, #7289A9);
    border: solid 2px #2D3D57;
    border-radius: 20px;
    width: 330px;
    height: 600px;
    padding:30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grand-child-container{
    display: grid;
    grid-template-rows: repeat(5, 80px);
    grid-template-columns: repeat(4, 80px);
    gap: 5px;
    margin: auto;
}

.answer{
    width: 300px;
    height: 100px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: #10121F;
    backdrop-filter: blur(20px);
    font-size: larger;
    color: #CDDAE0;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 20px 30px 20px;
}

.equals{
    border-radius: 20px;
    width: 326px;
    height: 50px;
    margin-top: 10px;
}

