/* body{
    background-image: url("BackgroundImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */
p{
    display: block;
    width: auto;
    color: white;
}

button{
    font-size: larger;
    border: none;
    background-color: black;
    color: white;
    border-radius: 100%;
}

.parent-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-container{
    background-color: yellow;
    border-radius: 20px;
    width: 330px;
    height: 600px;
    padding: 25px 15px 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grand-child-container{
    display: grid;
    grid-template-rows: repeat(5, 80px);
    grid-template-columns: repeat(4, 80px);
    gap: 5px;
    margin: auto;
}

.answer{
    width: 300px;
    height: 100px;
    font-size: larger;
    color: white;
    border-radius: 15px;
    background-color: black;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px 20px 30px 20px;
}

.equals{
    border-radius: 20px;
    width: 326px;
    height: 50px;
    margin-top: 10px;
}

